{% extends 'base.html' %}

{% load static %}

{% block title %}
Гороскоп для {{ sign|capfirst }}
{% endblock %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'horoscope/css/info.css' %}">
{% endblock %}

{% block content %}

    {% include 'includes/navbar.html' %}

    <h1>Приложение Гороскоп</h1>

    {% if description_zodiac is None %}
        <h2>Неправильный знак зодиака - {{ sign|upper }}</h2>
    {% else %}
        <h2>{{ description_zodiac }}</h2>
    {% endif %}
{% endblock %}